* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

html {
  font-size: 13.333333vw;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 0.32rem;
}

header {
  width: 100%;
  height: 1rem;
  background-color: red;
  color: #fff;
  font-size: 0.44rem;
}

main {
  flex: 1;
  overflow: auto;
}

main .box {
  width: 100%;
}

main .box .item {
  width: 100%;
  height: 1rem;
  display: flex;
}

main .box .item span {
  flex: 2;
}

main .box .item input {
  flex: 8;
}

main .btn {
  width: 100%;
  height: 1rem;
  background-color: magenta;
}
