* {
  margin: 0;
  padding: 0;
}

header, header span {
  display: flex;
  justify-content: center;
  align-items: center;
}

html, body {
  width: 100%;
  height: 100%;
}

html {
  font-size: 13.333333vw;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  height: 1rem;
  background-color: skyblue;
  font-size: 0.40rem;
  justify-content: space-around;
}

header span {
  flex: 1;
}

main {
  flex: 1;
  overflow: auto;
}

main .one {
  width: 100%;
  height: 2rem;
  line-height: 2rem;
  font-size: 0.4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

main .one input {
  height: 50%;
  font-size: 0.4rem;
  width: 50%;
  border: solid 1px;
}

main .one button {
  width: 70%;
  height: 50%;
  border: 0;
  background-color: aqua;
  color: #eee;
  font-size: 0.5rem;
}

.active {
  color: red;
}
