* {
  margin: 0;
  padding: 0;
  list-style: none;
}

header, main .list .item .right, main .box .one, footer, footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

html, body {
  width: 100%;
  height: 100%;
}

html {
  font-size: 13.333333vw;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  height: 1rem;
  background-color: skyblue;
  font-size: 0.44rem;
}

main {
  flex: 1;
  overflow: auto;
}

main .list {
  width: 100%;
}

main .list .item {
  width: 100%;
  height: 3rem;
  display: flex;
  background: #eee;
  padding: 0.1rem;
  margin: 0.1rem 0;
  box-sizing: border-box;
}

main .list .item .left {
  flex: 8;
  display: flex;
  flex-direction: column;
  height: 100%;
  font-size: 0.36rem;
}

main .list .item .left p {
  flex: 1;
  display: flex;
}

main .list .item .left p span {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

main .list .item .right {
  flex: 2;
  background: pink;
  flex-direction: column;
}

main .list .item .right button {
  margin-top: 0.2rem;
}

main .box {
  width: 100%;
}

main .box .one {
  width: 100%;
  height: 1rem;
  font-size: 0.36rem;
}

main .box .one span {
  width: 20%;
}

main .box .one input {
  width: 80%;
  height: 60%;
}

footer {
  width: 100%;
  height: 1rem;
  background: red;
  font-size: 0.4rem;
}

footer a {
  flex: 1;
  color: #fff;
  text-decoration: none;
}
