<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/list.css">
</head>

<body>
    <div class="container">
        <header>我是详情页</header>
        <main>
                <% if(code){%>
            <div class="left">
                <img src="<%=newData.img%>" alt="">
            </div>
            <div class="right">
                <p><%=newData.title%></p>
                <p>这是第<%=newData.id%>条数据的详情页</p>
            </div>
            <% }else{%>
                <h1><%=newData%></h1>
                <%}%>

        </main>
    </div>
</body>

</html>