<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <header>详情页面</header>
        <main>
            <div class="box">
                <div class="item">
                    <span>内容</span><input type="text">
                </div>
                <div class="item">
                    <span>图片</span><input type="text">
                </div>
                <div class="item">
                    <span>id</span><input type="text">
                </div>
            </div>
            <div class="btn">
                <button>提交</button>
            </div>
        </main>
    </div>
</body>

</html>