<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>列表页</title>
    <link rel="stylesheet" href="/css/index.css" />

</head>

<body>
    <div class="container">
        <header id="h">我是美团ejs页面</header>
        <main>
            <div class="list">
                <% data.list.forEach(item=>{ %>
                        <a href="/detail?id=<%=item.id%>"><div class="item">
                                <div class="left">
                                    <img src="<%= item.img %>" alt="">
                                </div>
                                <div class="right">
                                    <span><%= item.title %></span>
                                </div>
                         </div></a>
                         <% }) %>
            </div>
        </main>
        <footer></footer>
    </div>
    <script>
       
    </script>
</body>

</html>